docs/_build/
build/
_build_coverage/
tests/_build_website/
tests/_build_coverage/
dist/
dask-worker-space/
__pycache__
*.egg-info/
tests/base/_build/
tests/pdf/_build/
tests/pdf/_static/
tests/pdf/theme/
tests/no_inline_exercises/_build
tests/ipynb/*checkpoints
*.pyc
.DS_Store
.vscode/
doctrees/
