docs/_build/
build/
_build_coverage/
tests/_build_website/
tests/_build_coverage/
dist/
dask-worker-space/
__pycache__
*.egg-info/
tests/_build/
tests/_build_website/
tests/ipynb/*checkpoints
*.pyc
.DS_Store
.vscode/