# Travis Configuration for sphinxcontrib-jupyter

sudo: false        #Use new Container Infrastructure
language: python
python:
  - 2.7
  - 3.6

env:
  - SPHINX_VERSION=1.7.9
  - SPHINX_VERSION=1.8.5
  - SPHINX_VERSION=2.1.2

matrix:
  exclude:
  - python: 2.7
    env: SPHINX_VERSION=2.1.2

directories:
  - "/tmp/texlive"
  - "$HOME/.texlive"

timeout: 3600

notifications:
  email: false

branches:
  only:
    - master

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/miniconda
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  - travis_wait 45 bash ./util/setup_latex.sh
  - export PATH="/tmp/texlive/bin/x86_64-linux:$PATH"


install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION sphinx=$SPHINX_VERSION nbconvert nbformat dask distributed 
  - pip install nbdime
  - pip install sphinxcontrib-bibtex
  - python setup.py install

script:
  - cd tests && make rst-test
