# Travis Configuration for sphinxcontrib-jupyter

sudo: false        #Use new Container Infrastructure
language: python
python:
  - 2.7
  - 3.7

env:
  - SPHINX_VERSION=1.7.9
  - SPHINX_VERSION=1.8.5
  - SPHINX_VERSION=2.1.2

matrix:
  exclude:
  - python: 2.7
    env: SPHINX_VERSION=2.1.2

directories:
  - "/tmp/texlive"
  - "$HOME/.texlive"

timeout: 3600

notifications:
  email: false

branches:
  only:
    - master

before_install:
  - travis_wait 45 bash ./util/setup_latex.sh
  - export PATH="/tmp/texlive/bin/x86_64-linux:$PATH"


install:
  - pip install sphinx==$SPHINX_VERSION nbconvert nbformat dask==2.5.2 distributed==2.5.2 nbdime
  - if [ $TRAVIS_PYTHON_VERSION == 2.7 ]; then
      pip install sphinxcontrib-bibtex==0.4.2;
    else
      pip install sphinxcontrib-bibtex;
    fi
  - python setup.py install

script:
  - cd tests && make test && make no-inline-test
